body {
  background-image: url(../../assets/img/background.jpg);
  background-size: cover;
  height: 100vh;
}

#searchIconBtn { 
  margin-left: -19px; 
  color: white;
  transform: rotate(90deg);
}

#searchIcon {
  display: none;
  transform: rotate(90deg);
}

#headerMenu {
  background-color: rgba(0, 0, 0, 0.171);
  height: 40px;
  padding-left: 0.3%;
  padding-right: 0;
  margin-bottom: 1vh;
}

#btnBoard {
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  color: #fafafa;
  background-color: rgba(255, 255, 255, 0.3); 
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 31px;
  font-size: small;
}

#trelloIcon {
  font-size: 18px;
  margin-right: 5px;
  padding-left: 0;
}

#fontBoard {
  display: inline-block;
  font-weight: 700;
  line-height: 32px;
  font-size: 14px;
  padding-right: 5px;
}

#inputSearch {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 3px;
  margin-top: 4px;
  cursor: text;
  height: 31px;
  opacity: 0.9;
}

#trelloBrand {
  width: 6%;
  margin-left: 25%;
  opacity: 0.6;  
  cursor: pointer;
  background-position-x: 100%;
  padding-bottom: 4px;
}

#trelloBrand:hover {
  opacity: 0.8;
}

#btnBoard:hover {
  opacity: 0.8;
}

#inputSearch:hover {
  background-color: rgba(248, 248, 248, 0.452);
}

#userImg {
  height: 32px;
  width: 32px;
  cursor: pointer;
  border-radius: 25em;
  border: none;
  float: right;
  margin-top: 0.6vh;
  margin-right: 0.6vh;
}

#plusIcon {
  color: white;
  background-color: rgba(119, 119, 119, 0.555);
}

#infoIcon {
  color: white;
  background-color: rgba(119, 119, 119, 0.555);
}

#bellIcon {
  color: white;
  background-color: rgba(119, 119, 119, 0.555);
}

#btnPlus {
  background-color: rgba(119, 119, 119, 0.555);
  cursor: pointer;
  border-radius: 3px;
  border: none;
  margin-left: 40%;
  width: 31px;
  height: 31px;
}

#btnInfo {
  background-color: rgba(119, 119, 119, 0.555);
  cursor: pointer;
  border-radius: 3px;
  padding-left: 9px;
  padding-right: 9px;
  border: none;
  width: 31px;
  height: 31px;
  font-size: 16px;
}

#btnBell {
  background-color: rgba(119, 119, 119, 0.555);
  cursor: pointer;
  border-radius: 3px;
  border: none;
  width: 31px;
  height: 31px;
  font-size: 16px;
}

#btnPlus:hover {
  background-color: #666
}

#btnBell:hover {
  background-color: #666
}

#btnInfo:hover {
  background-color: #666;
}

#userImgTwo {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 25em;
  border: none;
}

#btnTitle {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  border-radius: 3px;
  padding: 3px;
}

#personal, #btnLock, #showMenuBtn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

#btnStar {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;}

.divider {
  display: inline;
  color: rgba(255, 255, 255, 0.726);
}

#lockIcon {
  display: inline;
}

#private {
  display: inline;
}

#personal:hover {
  background-color: rgba(68, 68, 68, 0.712);
}

#btnLock:hover {
  background-color: rgba(68, 68, 68, 0.712);
}

#btnTitle:hover {
  background-color: rgba(68, 68, 68, 0.712);
}

#btnStar:hover {
  background-color: rgba(68, 68, 68, 0.712);
}

#userNumber:hover {
  background-color: rgba(68, 68, 68, 0.712);
}

#btnUser:hover {
  background-color: rgba(68, 68, 68, 0.712);
} 

#userImgTwo:hover {
  opacity: 0.7;
} 

#showMenuBtn:hover {
  background-color: rgba(68, 68, 68, 0.808);
}

#addCardBtn:hover {
  background-color: rgba(68, 68, 68, 0.445);
}

#userNumber, #btnUser {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 25em;
  border: none;
  color:white;
  background-color: rgba(153, 153, 153, 0.315);
}

#showMenuBtn {
  float: right;
  font-size: 14px;
}

#ellipsis, #AddListTitle, #addCardIcon {
 display: inline;
}

#menuDisplay {
  display: inline;
  text-decoration: underline;
  padding-bottom: 5px;
}

#addCardBtn {
  background-color: rgba(153, 153, 153, 0.137);
  border: none;
  color: #fafafa;
  cursor: pointer;
  margin-left: 1%;
  margin-top: 1%;
  padding-right: 9%;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
}

@media (min-width: 644px) {

  #inputSearch {
    display: none;
  }

  #searchIcon {
    display: inline-block;
    background-color: rgba(119, 119, 119, 0.555);
    padding: 8px;
    border-radius: 3px;
    color: white;
  }

  #trelloBrand {
    margin-left: 32%;
    width: 12%;
  }

  #btnPlus {
    margin-left: 27.5%;
  }

  #headerMenu {
    padding-top: 3px;
  }
    
  #btnInfo {
    display: none;
  }

  #fontBoard {
    display: none;
  }
  #searchIconBtn {
    display: none;
  }
}  

@media (min-width: 320px) and (max-width: 375px){
 
  #inputSearch {
    display: none;
  }

  #searchIcon {
    display: inline-block;
  }

  #fontBoard {
    display: none;
  }

  #btnInfo {
    display: none;
  }

  #searchIconBtn {
    display: none;
  }

  #trelloBrand {
    margin-left: 18%;
    width: 24%;
  }

  #btnPlus {
    margin-left: 6%;
  }

  #addCardBtn {
    margin-top: 5%;
    padding-right: 40%;
    margin-left: 2%;
  }

  #starIcon {
    font-size: 12px;
  }

  #btnStar {
    margin-right: 40px;
    margin-left: 9px;
  }

  #searchIcon {
    color: white;
    background-color: rgba(119, 119, 119, 0.555);
    padding: 8px;
    border-radius: 3px;
  }

  #trelloBrand {
    margin-left: 13%;
  }

  #lockIcon {
    font-size: 12px;
  }

  #headerMenu {
  padding-top: 4px;
  }
}

@media (min-width: 1024px) {

  #trelloBrand {
    margin-left: 25%;
    width: 6%;
  }

  #btnPlus {
    margin-left: 37.5%;
  }

  #headerMenu {
    padding-top: 1px;
  }

  #inputSearch {
    display: inline-block;
  }

  #searchIcon {
    display: none;
  }

  #fontBoard {
    display: inline-block;
  }

  #btnInfo {
    display: inline-block;
  }
}